# Env
NODE_ENV=development
PORT=3000
HOST=localhost
PRISMA_DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"

# Auth
KEY_PAIR_ROTATION_COUNT=3
HASH_SALT=12
REFRESH_TOKEN_EXPIRATION=30D # format ${number}${Y|W|D|M|S|Ms}
ACCESS_TOKEN_EXPIRATION=1H # format ${number}${Y|W|D|M|S|Ms}
JWT_ALGORITHM=RS256

# Init
INIT_EMAIL=admin@admin.com
INIT_PASSWORD=password